.appointment-wrapper{

display:flex;
justify-content:center;
align-items:center;
height:100vh;
background:linear-gradient(135deg,#f7f7f7,#e6f2ff);

}

.appointment-card{

display:flex;
width:800px;
background:#fff;
border-radius:15px;
box-shadow:0 10px 30px rgba(0,0,0,0.1);
overflow:hidden;

}

.form-section{

width:50%;
padding:40px;

}

.form-section h2{

margin-bottom:20px;
font-size:28px;
font-weight:600;
color:#578723;

}

.form-section input,
.form-section textarea{

width:100%;
padding:12px;
margin-bottom:15px;
border:1px solid #ddd;
border-radius:6px;
font-size:14px;

}

.form-section textarea{

height:80px;
resize:none;

}

.form-section button{

width:100%;
padding:12px;
background:#578723;
color:#fff;
border:none;
border-radius:6px;
font-size:16px;
cursor:pointer;
transition:0.3s;

}

.form-section button:hover{

background:#466d1c;

}

.error{

color:red;
font-size:12px;
margin-top:-10px;
margin-bottom:10px;

}

.image-section{

width:50%;
background:#5787231c;
display:flex;
justify-content:center;
align-items:center;

}

.image-section img{

width:100%;

}